<ion-header>
  <ion-toolbar>
    <ion-title>
      Digital Tech Summit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>AdvCount: {{ advertisecounter }}</p>
    <p>DeviceId: {{ deviceId }}</p>
    <p>BatteryLevel: {{ deviceBattery }}</p>
    <p>StepCount: {{ deviceStepCounter }}</p>
    <p>footStrike: {{ footStrike }}</p>
    <p>rangeOfMotion: {{ rangeOfMotion }}</p>
    <p>distance: {{ distance }}</p>
    <p>pronation: {{ pronation }}</p>
    <p>speed: {{ speed }}</p>
    <p>cadence: {{ cadence }}</p>
    <p>strideLen: {{ strideLen }}</p>
  </div>
</ion-content>
